button {
  padding: 0.25rem 1rem;
  border: 1px solid var(--bg-primary);
  color: var(--bg-primary);
  background-color: var(--primary);
  transition: ease 0.2s;
  cursor: pointer;
  &:hover {
    background-color: var(--bg-primary);
    color: var(--primary);
    &.delete {
      background-color: var(--delete);
      color: var(--bg-dark);
    }
  }
  
}
// @include media-breakpoint-down(md) {
//   padding: 1rem;
// }
